/* HERO */

.hero-bg-concept {
    background-image: url(../assets/concept-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

.trois-blocs-concept div {
    height: 200px;
}

/* CONCEPT */

.chaise-photo {
    max-height: 420px;
    margin-right: 10%;
}

.offre-container {
    margin-bottom: 50px;
}

/* BANNER */

.loukoum-container {
    column-gap: 50px;
}

.loukoum-image img {
    max-height: 300px;
    padding: 25px 0;
}

.loukoum-meaning {
    /* color: #FFF; */
    color:#8C5CBC;
    font-size: 20px;
}

.loukoum-meaning p {
    line-height: 30px;
}

/* Actions*/
.actions {
    padding: 75px;
    padding-top: 30px;
    background-image: url(../assets/background.PNG);
    background-repeat:no-repeat;
    background-size: 100% 50%;
}

.actions-title {
    justify-content: right;
    color:white;
    margin-bottom: 75px;
}

.actions-container {
    position: relative
}

.actions-top-left-line {
    width: 50%;
    margin-bottom: 50px
}

.actions-top-right-line {
    width: 33%;
    margin-bottom: 50px
}

.actions-text {
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(203,203,203);
    border-radius: 5px;
    color:#8C5CBC;
    text-align: center;
    width: fit-content
}

.actions-text p {
    font-weight: bold;
    margin: 0;
}

.actions-top-text {
    position: absolute;
    top: 0%;
    display: flex;
    align-items: center;
}

.actions-bottom {
    position: absolute;
    top: 85%;
    display: flex;
    align-items: center;
}

/* Mon martin */
.monMartin {
    padding: 75px;
}

.loukoumBG-text p {
    color: #8C5CBC;
}

.loukoumBG-text h2 {
    color: #8C5CBC;
}

.monMartin-column-title {
    width: 40%;
}

.monMartin-column-text {
    width: 60%;
}

.monMartin-offre {
    background-color: #bc96e1;
    padding: 10px;
    margin: 10px;
    text-align: center
}

.monMartin-atelier {
    border-top-left-radius: 70px;
    padding-left: 5px;
}

.monMartin-plateforme {
    border-bottom-right-radius: 70px;
}

.monMartin-offre p {
    color:#FFF
}

/* TESTIMONIAL */

.testimonial-container {
    height: 360px
}

.testimonial-title {
    margin-top: 75px;
}

.single-testimonial {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* RESPONSIVE */

@media (min-width: 992px) {
    .monMartin-offre {
        width: 33%;
    }
    .actions-first-line {
        width: 66%;
    }
    .actions-second-line-div {
        width: 25%;
        margin-left: 15%
    }
    .monMartin {
        padding: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .actions {
        padding: 75px;
        padding-top: 30px;
        background-image: url(../assets/background.PNG);
        background-repeat:no-repeat;
        background-size: 100% 33%;
    }
    .chaise-photo {
        padding-top: 50px;
    }
    .actions-second-line-div {
        width: 50%;
    }
    .monMartin-offre {
        width: 400px;
    }
    
    .monMartin-container {
        flex-direction: column;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .actions {
        padding: 75px;
        padding-top: 30px;
        background-image: url(../assets/background.PNG);
        background-repeat:no-repeat;
        background-size: 100% 17%;
    }
    .hero-bg-concept {
        background-image: url(../assets/concept-mobile-hero.png);
    }
    .monMartin-container {
        flex-direction: column;
    }
    .actions-first-line {
        flex-direction: column;
    }
    .actions-second-line {
        flex-direction: column;
    }
    .actions-second-line-div {
        margin-bottom: 50px
    }

    .offre-container {
        margin-top: 50px;
    }

    .chaise-photo {
        margin: auto;
        padding-top: 50px;
    }

    .loukoum-container {
        flex-direction: column;
    }

    .testimonial-container {
        padding: 25px;
        height: 425px
    }

    .testimonial-title {
        margin-top: 35px;
    }

    .single-testimonial {
        width: 75%;
    }
}

@media (max-width: 575.98px) {
    .actions {
        padding: 75px;
        padding-top: 30px;
        background-image: url(../assets/background.PNG);
        background-repeat:no-repeat;
        background-size: 100% 17%;
    }
    
    .monMartin-container {
        flex-direction: column;
    }
    .actions-first-line {
        flex-direction: column;
    }
    .actions-second-line {
        flex-direction: column;
    }
    .actions-second-line-div {
        margin-bottom: 50px
    }

    .hero-bg-concept {
        background-image: url(../assets/concept-mobile-hero.png);
    }

    .monMartin-container {
        flex-direction: column;
    }

    .offre-container {
        margin-top: 50px;
    }

    .chaise-photo {
        max-height: 350px;
        padding-top: 50px;
        margin: auto;
    }

    .loukoum-container {
        flex-direction: column;
    }

    .testimonial-container {
        padding: 25px;
        height: 425px
    }

    .testimonial-title {
        margin-top: 35px;
    }

    .single-testimonial {
        width: 75%;
    }
}