.dashboard-header {
    background-color: #8C5CBC;
    color: #FFF
}

.logo-dashboard {
    max-height: 100px;
    padding: 15px;
}

.navbar-dash {
    column-gap: 15px;
    margin: 15px;
}

.navbar-dash li {
    list-style-type: none;
    color: #000;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}

.navbar-dash a {
    text-decoration: none;
}

.navbar-dash li:hover {
    text-decoration: underline;
    color: #8C5CBC;
}

.hello-dash {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.profile-dash {
    max-height: 35px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.profile-dash:hover {
    transform: scale(1.1);
}

.deconnexion-dash {
    max-height: 35px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.deconnexion-dash:hover {
    transform: scale(1.1);
}

/* NAVBAR DASH */

.nav-dropdown-dash,
.btn.show,
.btn:first-child:active {
    margin: 25px 0;
    color: #8C5CBC;
    border-color: #8C5CBC;
    background-color: #FFF;
    border-color: #8C5CBC;
}

.nav-dropdown-dash:focus,
.btn.show:focus {
    margin: 25px 0;
    color: #6A3E96;
    border-color: #6A3E96;
    background-color: #FFF;
    border-color: #6A3E96;
}

.dropdown-menu {
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);
}

.dropdown-item {
    color: #8C5CBC;
}

.dropdown-item:hover {
    text-decoration: underline;
    color: #6A3E96;
}

.dropdown-toggle:focus {
    box-shadow: none;
    outline: none;
}

.add-dash {
    max-height: 35px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.add-dash:hover {
    transform: scale(1.1);
}

/* TABLE */

.scrollable-table {
    overflow-x: auto;
    white-space: nowrap;
}

.container-table {
    white-space: nowrap;
}

.scrollable-table tr,
.scrollable-table th,
.scrollable-table td {
    border-bottom-width: 0.5px;
}

.table-action-icon {
    width: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.table-action-icon:hover {
    transform: scale(1.1);
}

.drop-mission-member {
    width: 12px;
    margin-right: 5px;
}

.full-mission-masseur {
    color: rgb(172, 169, 169);
}

.full-mission-masseur td {
    font-style: italic;
}

.full-mission-admin {
    color: #8C5CBC;
}

.full-mission-admin td {
    font-style: italic;
}

.name-registered-member {
    font-style: italic;
}

/* .newsletter-table {
    width: 470px;
} */

/* MODAL */

.modal-dialog {
    background-color: white;
}

.action-button {
    background-color: #8C5CBC;
    border: 1px solid #8C5CBC;
    color: #FFF;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}

.action-button:hover {
    background-color: #6A3E96;
    border: 1px solid #6A3E96;
}

.cancel-button {
    background-color: #FFF;
    border: 1px solid #8C5CBC;
    color: #8C5CBC;
    border-radius: 10px;
    padding: 10px;
}

.picture-team-modal {
    max-width: 150px;
    max-height: 150px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.cancel-button:hover {
    color: #6A3E96;
    border: 1px solid #6A3E96;
    background-color: #FFF;
}

.add-button {
    margin-bottom: 20px;
}

.form-modal input,
.form-modal select,
.form-modal textarea {
    border: 0.5px solid black;
}

.form-modal input:focus,
.form-modal select:focus,
.form-modal textarea:focus {
    border-color: none;
    box-shadow: none;
}

.form-modal textarea {
    resize: none;
}

.form-modal label {
    font-size: 12px;
}

.permis-checkbox {
    margin-top: 20px;
}


/* RESPONSIVE */

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {

    .hello-dash {
        font-size: 18px;
        width: 30%;
    }

    .no-result-message {
        text-align: left !important;

    }

    /* .newsletter-table {
        width: 350px;
    } */
}

@media (max-width: 575.98px) {
    .hello-dash {
        font-size: 18px;
        width: 30%;
    }

    .no-result-message {
        text-align: left !important;
    }

    /* .newsletter-table {
        width: 330px;
    } */
}