/* HERO */

.hero-bg-login {
    background-image: url(../assets/login-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

/* FORM */

.rejoindre-container {
    margin-top: 100px;
    column-gap: 40px;
}

.candidature-container {
    width: 60%;
}

.info-container {
    width: 40%;
}

.candidature-container h4,
.info-container h4 {
    margin: 30px 0;
}

.candidature-container form {
    row-gap: 10px;
    margin-bottom: 100px;
}

.candidature-container .form-control.border-dark {
    border: 1px solid #c8a2c8 !important;
}

.candidature-container .form-check-input {
    border: 1px solid #000 !important;
}

.candidature-container textarea {
    resize: none;
}

.candidature-container button {
    width: 15%;
}

.form-floating>label {
    white-space: normal;
    width: calc(100% - 1.5rem);
}

.submit-candidature {
    width: fit-content !important;
}

.rejoindre-container input:focus {
    border-color: none;
    box-shadow: none;
}

.rejoindre-container textarea:focus {
    border-color: none;
    box-shadow: none;
}

/* LOGIN */

.login-container {
    background-color: #8C5CBC;
    color: #FFF;
    margin-bottom: 50px;
    padding: 25px;
}

.login-label {
    color: #000 !important;
}

.form-style {
    background-color: white !important;
}

.login-container input {
    width: 250px;
    color: #000 !important;
}

.form-group.floating .login-label,
.form-group.floating .form-control:focus~.login-label {
    color: #000;
}

.login-container input:focus {
    border-color: none;
    box-shadow: none;
}

/* RESPONSIVE */

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {
    .hero-bg-login {
        background-image: url(../assets/login-mobile-hero.png);
    }

    /* FORM */

    .rejoindre-container {
        flex-direction: column;
        margin-top: 0px;
    }

    .candidature-container {
        width: 100%;
    }

    .info-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .candidature-container form {
        row-gap: 20px;
        margin-bottom: 0;
    }

    .login-container h4 {
        text-align: center;
    }
}

@media (max-width: 575.98px) {
    .hero-bg-login {
        background-image: url(../assets/login-mobile-hero.png);
    }

    /* FORM */

    .rejoindre-container {
        flex-direction: column;
        margin-top: 0px;
    }

    .candidature-container {
        width: 100%;
    }

    .info-container {
        width: 100%;
    }

    .info-container {
        width: 100%;
        margin-bottom: 50px;
    }

    .candidature-container form {
        row-gap: 20px;
        margin-bottom: 0;
    }

    .login-container {
        margin-bottom: -5px;
    }

    .login-container h4 {
        text-align: center;
    }
}