/* HERO */

.hero-bg-mission {
    background-image: url(../assets/mission-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

/* STEPS */

.blocs-photo {
    max-height: 420px;
    margin-right: 10%;
}

.steps-container {
    margin-bottom: 50px;
}

/* FAQ */

.FAQ-title {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 700;
    color: #FFF;
}

.questions-container {
    background-color: white;
    width: 60%;
    margin-bottom: 50px;
}

.questions-container .accordion-item {
    margin: 7px 0;
}

.questions-container .accordion-item:not(:last-child) {
    border-bottom: 1px solid #c8a2c8;
}

.questions-container .accordion-button:hover {
    color: #8C5CBC;
}

.accordion-button:focus {
    border-color: none;
    box-shadow: none;
}

.accordion-body p {
    margin: 0;
}

/* GALLERY */

.gallery-container {
    margin-bottom: 100px;
}

.gallery-container h4 {
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 700;
}

.gallery-container img {
    width: 300px;
    height: 275px;
    object-fit: cover;
}

/* RESPONSIVE */

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
    .bloc-photo {
        padding-top: 50px;
    }

    .questions-container {
        width: 80%;
    }

    .gallery-container img {
        width: 230px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .hero-bg-mission {
        background-image: url(../assets/mission-mobile-hero.png);
    }

    .bloc-photo {
        margin: auto;
        padding-top: 50px;
    }

    .questions-container {
        width: 100%;
    }

    .gallery-container h4 {
        text-align: center;
    }

    .gallery-images {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media (max-width: 575.98px) {
    .hero-bg-mission {
        background-image: url(../assets/mission-mobile-hero.png);
    }

    .bloc-photo {
        max-height: 350px;
        padding-top: 50px;
        margin: auto;
    }

    .questions-container {
        width: 100%;
    }

    .gallery-container h4 {
        text-align: center;
    }

    .gallery-images {
        flex-direction: column;
        row-gap: 20px;
    }
}